<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<!-- Appenders for console querylog-->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p [%c] %m%n</Pattern>
		</encoder>
	</appender>

	<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p %m%n</Pattern>
		</encoder>
	</appender>
	
		
	<!-- Appender for file querylog-->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./logs/logback.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>[%-5level] %d{HH:mm:ss.SSS} %logger{36} - %msg%n</pattern>
    </encoder>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>./logs/logback.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>50MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
        <maxHistory>15</maxHistory>
    </rollingPolicy>
	</appender>
	
	 <!-- 콘솔 & 파일에 로그 전달-->
    <logger name="com.system" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file" />
    </logger>
 
    <root level="error">
        <appender-ref ref="console" />
    </root>
	
	
	<!-- Logger specific area -->
	<logger name="com.system.bgim" level="TRACE"></logger>
	<!-- console Logger -->
	<logger name="com.board" level="DEBUG" appender-ref="console" />
	<logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog" />
	<logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog" />

	<!-- Root Logger-->
	<root level="off">
		<appender-ref ref="console" />
		 <appender-ref ref="file" />
	</root>
	
	
		


</configuration>