<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.system.bgim.mapper.CommentMapper">

 	<select id="commentList" resultType="com.system.bgim.dto.CommentDTO">
        SELECT
            *
        FROM comments
    </select> 
       		
    <insert id="commentInsert" parameterType="com.system.bgim.dto.CommentDTO">
    <selectKey keyProperty="cno" resultType="int" order="BEFORE">
		select max(cno)+1 from comments
	</selectKey>
    
        INSERT INTO
        comments (CNO, BNO, CONTENT, WRITER, REG_DATE)
        VALUES(#{cno},#{bno},#{content},#{writer},SYSDATE) 
    </insert>

	<update id="commentUpdate" parameterType="com.system.bgim.dto.CommentDTO">
        UPDATE comments
            SET
            CONTENT = #{content}
        WHERE CNO = #{cno}
    </update>
    
      <delete id="commentDelete" parameterType="com.system.bgim.dto.CommentDTO">
        DELETE FROM comments WHERE CNO = #{cno}
    </delete>

</mapper>