<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.system.bgim.mapper.DashboardMapper">

 	<select id="dashboardCount" resultType="int">
        SELECT count(*)
          FROM dashboard
    </select>
    
	<select id="dashboardList" resultType="com.system.bgim.dto.DashboardDTO">
        SELECT
            *
        FROM dashboard
    </select>
    
 	<select id="dashboardDetail" parameterType="int" resultType="com.system.bgim.dto.DashboardDTO">
        SELECT
            *
        FROM dashboard
        WHERE
            BNO = #{bno}
    </select>
    
    <insert id="dashboardInsert" parameterType="com.system.bgim.dto.DashboardDTO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO
        dashboard (BNO, SUBJECT,CONTENT,WRITER,REG_DATE)
        VALUES(#{bno},#{subject},#{content},#{writer},SYSDATE) 
    </insert>
    
    <update id="dashboardUpdate" parameterType="com.system.bgim.dto.DashboardDTO">
        UPDATE dashboard
            SET
        <if test="subject != null">
            SUBJECT = #{subject}
        </if>
        <if test="subject != null and content != null"> , </if>
        <if test="content != null">
            CONTENT = #{content}
        </if>
        WHERE BNO = #{bno}
    </update> 
    
     <delete id="dashboardDelete" parameterType="int">
        DELETE FROM dashboard WHERE bno = #{bno}
    </delete>
    
        
    <!--useGeneratedKeys="true" keyProperty="idx"
                  시퀀스가 자동 증가인 경우 insert 후에 시퀀스 값을 리턴받을 경우에 설정.
                 게시글 작성 시 게시글 번호가 파일DB에 등록되어야 하기때문에 시퀀스 값을 리턴받아서 파일DB에 등록 -->
    <insert id="fileInsert" parameterType="com.system.bgim.dto.FileDTO">
       INSERT INTO
       files (FNO, BNO, FILENAME, FILEORINAME, FILEURL)
       VALUES (#{fno},#{bno},#{fileName},#{fileOriName},#{fileUrl})
	</insert>
    
    <select id="fileDetail" parameterType="int" resultType="com.system.bgim.dto.FileDTO">
    SELECT
        *
    FROM files
    WHERE
        BNO = #{bno}
    </select>  
</mapper>