<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.system.bgim.mapper.HistoryMapper">
  
    <select id="userHistoryList" parameterType="com.system.bgim.dto.HistoryDTO" resultType="com.system.bgim.dto.HistoryDTO">
		SELECT * FROM ${historytablename}
    </select>
    
     <select id="domainHistoryList" parameterType="com.system.bgim.dto.HistoryDTO" resultType="com.system.bgim.dto.HistoryDTO">
		SELECT * FROM ${historytablename}		
    </select>
     
   	<insert id="userHistoryInsert" parameterType="com.system.bgim.dto.HistoryDTO"> 
		<selectKey keyProperty="history_id" resultType="int" order="BEFORE">
		select max(history_id)+1 from ${historytablename}
		</selectKey>
     <choose>  
		<when test = "provision_or_sync.equals('provision')">	
		INSERT INTO ${historytablename} VALUES (#{history_id},#{status},#{resource_name},#{content},SYSDATE,#{user_id})	
		</when>	
		<when test = "provision_or_sync.equals('sync')">		
		INSERT INTO ${historytablename} VALUES (#{history_id},#{status},#{content},SYSDATE,#{user_id})	
		</when>	
		</choose>		
    </insert>
    
    <insert id="domainHistoryInsert" parameterType="com.system.bgim.dto.HistoryDTO"> 
      <choose>
			<when test = "provision_or_sync.equals('provision')">	
			INSERT INTO ${historytablename} VALUES (#{history_id},#{status},#{resource_name},#{content},SYSDATE,#{domain_id})	
			</when>	
			<when test = "provision_or_sync.equals('sync')">	
			INSERT INTO ${historytablename} VALUES (#{history_id},#{status},#{content},SYSDATE,#{domain_id})	
			</when>	
		</choose>		
    </insert>
    
     <insert id="logFileInfoInsert" parameterType="com.system.bgim.dto.LogFilesDTO"> 
    	<selectKey keyProperty="file_id" resultType="int" order="BEFORE">
			select max(file_id)+1 from log_files
		</selectKey>
   		INSERT INTO log_files VALUES (#{file_id},#{menu},#{file_name},#{file_path},SYSDATE)
    </insert>
     
     <update id="logFileInfoUpdate" parameterType="com.system.bgim.dto.LogFilesDTO"> 
	   	UPDATE log_files SET  menu=#{menu}, file_path=#{file_path}, executed_time=SYSDATE where file_name=#{file_name}</update>
    
	<select id="CheckIflogFileNameExists" parameterType="String" resultType="Integer">
		SELECT count(*) FROM log_files where file_name=#{file_name}
    </select>
 
</mapper>