<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.system.bgim.mapper.HistoryMapper">
  
    <select id="userHistoryList" parameterType="com.system.bgim.dto.HistoryDTO" resultType="com.system.bgim.dto.HistoryDTO">
       <choose>
		<when test = "provision_or_sync.equals('provision')">	
		SELECT * FROM provision_history_user
		</when>	
		<when test = "provision_or_sync.equals('sync')">	
		SELECT * FROM provision_history_user
		</when>	
		</choose>
    </select>
    
     <select id="domainHistoryList" parameterType="com.system.bgim.dto.HistoryDTO" resultType="com.system.bgim.dto.HistoryDTO">
        <choose>
		<when test = "provision_or_sync.equals('provision')">	
		SELECT * FROM provision_history_domain
		</when>	
		<when test = "provision_or_sync.equals('sync')">	
		SELECT * FROM provision_history_domain
		</when>	
		</choose>
    </select>
     
   	<insert id="userHistoryInsert" parameterType="com.system.bgim.dto.HistoryDTO"> 
     <choose>
		<when test = "provision_or_sync.equals('provision')">	
		select history_id.currval from dual;
		INSERT INTO provision_history_user VALUES (#{history_id},#{status},#{resource_name},#{content},SYSDATE,#{user_id})	
		</when>	
		<when test = "provision_or_sync.equals('sync')">	
		INSERT INTO provision_history_user VALUES (#{history_id},#{status},#{resource_name},#{content},SYSDATE,#{user_id})	
		</when>	
		</choose>		
    </insert>
    
    <insert id="domainHistoryInsert" parameterType="com.system.bgim.dto.HistoryDTO"> 
      <choose>
			<when test = "provision_or_sync.equals('provision')">	
			INSERT INTO provision_history_domain VALUES (#{history_id},#{status},#{resource_name},#{content},SYSDATE,#{domain_id})	
			</when>	
			<when test = "provision_or_sync.equals('sync')">	
			INSERT INTO provision_history_domain VALUES (#{history_id},#{status},#{resource_name},#{content},SYSDATE,#{domain_id})	
			</when>	
			</choose>		
    </insert>	
    
</mapper>